body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.content:hover .content-overlay {
  opacity: 1;
}

.content:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.fadeIn-bottom {
  top: 80%;
}

.globe {
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  animation: rotate 75s ease-in-out infinite;
}

@keyframes rotate {
  0% {
  }
  100% {
    transform: rotate(360deg);
  }
}
